.input>input{
    height: 54px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    text-indent: 15px;
    background-color: #FAF8F8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.input>input:focus{
   outline: none;
}