/* Styling for the previous chat section */
.previous {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  background-color: #171717; /* Background color */
  width: 400px; /* Fixed width for the container */
}
.pre-logo {
  display: flex;
  align-items: center;
  background-color: #171717;
}

.previous-header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #171717;
}
.icon {
  color: white;
  cursor: pointer;
}

.previous-logo img {
  width: 60px;
  background-color: #171717;
  border-radius: 20px;
}

.previous-title {
  font-size: 24px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  background-color: #171717;
}

.previous-chat-history {
  flex: 1;
  padding: 10px;
  background-color: #171717; /* Background color for chat history */
  width: 100%; /* Ensure chat history takes the full width of the previous container */
  overflow: hidden; /* Hide scrollbars */
  padding-top: 40px;
}

.previous-chat-message {
  margin-bottom: 5px;
  width: 300px;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.4;
  max-width: 100%; /* Ensure messages fit within the container */
  word-wrap: break-word; /* Ensure long words wrap */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis;
  margin: 0;
  padding-left: 10px; /* Add ellipsis for text overflow */
  color: #ffffff;
}
/* Previous.css */

/* Add some margin between chat messages */
.previous-chat-message {
  padding: 5px; /* Optional: Add padding for better spacing */
  border-radius: 5px; /* Optional: Add rounded corners */
}

/* Highlight the current chat message */
.previous-chat-message.highlight {
  background-color: #f0f8ff; /* Light blue background for highlighting */
  border-left: 5px solid #007bff; /* Blue border on the left */
}
.previous-chat-message {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
}
.previous-chat-message:hover {
  background-color: #eceded;
  cursor: pointer;
  height: 50px;
  width: 100%;
  top: 5px;
  border-radius: 10px;
}
.previous {
  /* overflow-x: hidden; */
  /* border: 2px solid red; */
  /* max-width: fit-content; */
  /* width: ; */
}
.previous-chat-history {
  overflow-y: scroll;
}

/* Other styles as needed */

@media (max-width: 796px) {
  .previous {
    display: block;
  }
}

