.main-button{
    height: 60px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffffff;
    text-transform:uppercase;
    cursor: pointer;
}

.main-button:hover{
    background-color: #D9D9D9;

}